@model List<Libro>

<h1>Libros disponibles:</h1>

@foreach (Libro l in Model)
{
    <h2>@l.Titulo</h2>
    <h2>
        @Html.ActionLink("Detalles","LibroDetalles","Libro",
       new { idLibro = l.IdLibro })
    </h2>
    <h2>
        @Html.ActionLink("Editar", "UpdateLibro", "Libro",
   new { idLibro = l.IdLibro })
    </h2>
}

<a asp-controller="Libro" asp-action="InsertarLibro">Crear Libro</a>