@model Genero

<h1>¿Está seguro de que desea eliminar este Género?</h1>

<form method="post" asp-action="DeleteGenero">
    <label>Genero Id: </label>
    <input type="number" name="idGenero" value="@Model.IdGenero" readonly="readonly"/>
    <br />
    <label>Nombre: </label>
    <input type="text" name="generoNombre" value="@Model.GeneroNombre" readonly="readonly"/>
    <button type="submit">Eliminar</button>
</form>